spring:
  application:
    name: hello-client

server:
  port: 9091

eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:9081/eureka/
  instance:
    hostname: localhost